body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #d0e7f9;
    padding: 20px;
    text-align: center;
}

#logo {
    max-width: 250px; /* Augmentation de la taille maximale du logo */
}

nav {
    background-color: #003366;
}

.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.main-menu > li {
    position: relative;
}

.main-menu a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.main-menu .sub-menu {
    display: none;
    position: absolute;
    background-color: #00509e;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    min-width: 200px;
    z-index: 1000;
}

.main-menu .sub-menu li {
    border-bottom: 1px solid #004080;
}

.main-menu .sub-menu a {
    padding: 10px;
}

.main-menu > li:hover .sub-menu {
    display: block;
}

main {
    padding: 20px;
}

.block {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.block h2, .block h3 {
    color: #333;
}

.block ul {
    padding-left: 20px;
}

.block ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #d0e7f9;
    padding: 10px;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #logo {
        max-width: 200px; /* Augmentation de la taille maximale du logo pour les petits écrans */
    }

    .main-menu {
        flex-direction: column;
        align-items: center; /* Alignement centré des éléments du menu */
    }

    .main-menu > li {
        width: 100%;
        text-align: center; /* Centrer le texte des éléments du menu */
    }
}
